<div class="pokedex-container">
  <div class="pokedex-main">
    <div class="pokedex-search-results-container">
      <pokedex-search-results search-text="$ctrl.searchText" all-pokemon="$ctrl.allPokemon" get-one-pokemon="$ctrl.getOnePokemon(url)" go-to-pokemon-id="$ctrl.goToPokemonId(id)"></pokedex-search-results>
    </div>
    <div class="pokedex-search-bar-container">
      <pokedex-search-bar filter-pokemon="$ctrl.filterPokemon(input)"></pokedex-search-bar>
    </div>
    <div class="pokedex-navigation-container">
      <pokedex-navigation page="$ctrl.page" get-one-pokemon="$ctrl.getOnePokemon(url)" on-change="$ctrl.goToPage(page)" current-id="$ctrl.currentPokemon.id" go-to-pokemon-id="$ctrl.goToPokemonId(id)"></pokedex-navigation>
    </div>
    <div class="pokedex-page-container">
      <pokedex-page page="$ctrl.page" loading-value="$ctrl.loadingValue" loading-max="$ctrl.loadingMax" get-one-pokemon="$ctrl.getOnePokemon(url)" current-pokemon="$ctrl.currentPokemon" go-to-pokemon-id="$ctrl.goToPokemonId(id)"></pokedex-page>
    </div>
  </div>
  <div ng-show="$ctrl.loading" class="pokedex-loading">
    <div class="pokedex-loading-spinner"></div>
  </div>
</div>
