<div class="pokedex-navigation">
  <button ng-if="$ctrl.$location.path().slice(9) > 1" class="pokedex-navigation-previous btn" ui-sref="pokemon({pokemonId: $ctrl.$location.path().slice(9) - 1})">◀#{{+$ctrl.$location.path().slice(9) - 1}}</button>
  <p ng-class="['pokedex-navigation-tab-1', {'pokedex-tab-open': !$ctrl.$rootScope.page}]" ng-click="$ctrl.goToPage1()"><span>Page 1</span></p>
  <p ng-class="['pokedex-navigation-tab-2', {'pokedex-tab-open': $ctrl.$rootScope.page}]" ng-click="$ctrl.goToPage2()"><span>Page 2</span></p>
  <button ng-if="$ctrl.$location.path().slice(9) > 0 && $ctrl.$location.path().slice(9) < 721" class="pokedex-navigation-next btn" ui-sref="pokemon({pokemonId: +$ctrl.$location.path().slice(9) + 1})">#{{+$ctrl.$location.path().slice(9) + 1}}▶</button>
</div>
