.pokedex-page-1 {
  background-color: #fed517;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.pokedex-page-2 {
  background-color: #e5525a;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}
